@mixin beveled-corners($bg, $tl: 0, $tr: $tl, $br: $tl, $bl: $tr) {
  background: $bg;
  background: linear-gradient(135deg, transparent $tl, $bg 0) top left,
    linear-gradient(225deg, transparent $tr, $bg 0) top right,
    linear-gradient(-45deg, transparent $br, $bg 0) bottom right,
    linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.card_layout {
  display: grid;
  width: 320px;
  height: 509px;
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;

  [disabled] {
    color: #b3b3b3;
    mix-blend-mode: normal;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  .card_border {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 480px;
    border-radius: 12px;
    @include beveled-corners(#2ea8e6, 28px, 0, 0);

    &[disabled] {
      @include beveled-corners(#b3b3b3, 28px, 0, 0);
      opacity: 1;
      color: transparent;
    }

    .card {
      height: 472px;
      width: 312px;
      border-radius: 12px;
      @include beveled-corners(#f2f2f2, 28px, 0, 0);
      position: relative;
    }

    .card_hover {
      cursor: pointer;
    }
  }

  .card_border_selected {
    @include beveled-corners(#d91667, 28px, 0, 0);
  }
}

.card_title {
  margin-top: 17px;
  margin-left: 47px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.card_title_selected_hover {
  color: #e62e7a;
}

.card_brand_name {
  margin-top: 5px;
  margin-left: 44px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.card_taste {
  margin-top: -1px;
  margin-left: 47px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card_offer {
  height: 48px;
  width: 127px;
  margin-top: 15px;
  margin-left: 47px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  span {
    font-weight: bold;
  }
}

.card_label {
  img {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 0 12px;
  }

  .card_weight {
    width: 80px;
    height: 80px;
    position: absolute;

    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    right: 12px;
    bottom: 12px;
    border-radius: 50%;
    background: #1698d9;
    &[disabled] {
      background: #b3b3b3;
      opacity: 1;
    }
    .weight {
      font-size: 42px;
    }
    .unit {
      margin-top: -5px;
      font-size: 21px;
      line-height: 22px;
    }
  }
  .weight_hover {
    background: #2ea8e6;
  }

  .weight_selected {
    background: #d91667;
  }

  .weight_selected_hover {
    background: #e52e7a;
  }
}

.card_footer {
  margin-top: 14px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  &[disabled] {
    opacity: 1;
    color: #ffff66;
  }
  span {
    font-weight: 700;
    color: #22a7e9;
    text-decoration: underline dashed;
    cursor: pointer;
  }
}
